dataset/
*.pth
*.pt
*.weights


logs/
b_log_vstain/
m_log_vstain/
b_evaluation_results/
b_evaluation_resultsingle/
m_evaluation_results/
m_evaluation_resultsingle/
ggtest/
*.txt
app/static/outputs
app/static/uploads
__pycache__/
.env


tree.py