dataset/
*.pth
*.pt
*.weights

# Mở khóa (allow) 3 file model tốt nhất để upload lên GitHub/Streamlit
# !b_checkpoints/gen_5.pth
# !m_checkpoints/gen_8.pth
# !cls_checkpoints/cls_best.pth


logs/
b_log_vstain/
m_log_vstain/
b_evaluation_results/
b_evaluation_resultsingle/
m_evaluation_results/
m_evaluation_resultsingle/
ggtest/
*.txt
app/static/outputs
app/static/uploads
__pycache__/
.env


tree.py